<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style>
        body { background: #6c757d; }
        label { color: white;}
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="container-fluid">
        <a class="navbar-brand">AddPatient page</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" th:href="@{/}"><button class="btn btn-outline-light">Home</button></a>
            </div>
        </div>
    </div>
</nav>
<div class="container leftTop">
<form th:action="@{/patient/add}" th:object="${patientDTO}" method="post">

    <div class="mb-3">
        <label for="lastName" class="form-label">LastName</label>
        <input type="text" id="lastName" th:field="*{lastName}" class="form-control"/>
    </div>

    <div class="mb-3">
        <label for="firstName" class="form-label">FirstName</label>
        <input type="text" id="firstName" th:field="*{firstName}" class="form-control"/>
    </div>

    <div class="mb-3">
        <label for="dateOfBirth" class="form-label">DateOfBirth</label>
        <input type="text" id="dateOfBirth" th:field="*{dateOfBirth}" required class="form-control"/>
    </div>

    <div class="mb-3">
        <div>
        <span style="color: white">Sex</span>
        </div>

        <label for="M" class="form-label">M</label>
        <input type="radio" id="M" value="M" th:field="*{sex}" required/>

        <label for="F" class="form-label">F</label>
        <input type="radio" id="F" value="F" th:field="*{sex}" required/>

    </div>

    <div class="mb-3">
        <label for="homeAddress" class="form-label">HomeAddress</label>
        <input type="text" id="homeAddress" th:field="*{homeAddress}" class="form-control"/>
    </div>

    <div class="mb-3">
        <label for="phoneNumber" class="form-label">PhoneNumber</label>
        <input type="text" id="phoneNumber" th:field="*{phoneNumber}" class="form-control"/>
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-light">Submit</button>
        <a th:href="@{/patient}"><button type="button" class="btn btn-light">Cancel</button></a>
    </div>
</form>
</div>
</body>
</html>