<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<form th:action="@{/patient/update/{id}(id=${patient.getId})}" th:object="${patient}" method="post">

    <label for="id">Id</label>
    <input type="text" id="id" th:field="*{id}" readonly/>

    <label for="lastName">LastName</label>
    <input type="text" id="lastName" th:field="*{lastName}" />

    <label for="firstName">FirstName</label>
    <input type="text" id="firstName" th:field="*{firstName}" />

    <label for="dateOfBirth">DateOfBirth</label>
    <input type="text" id="dateOfBirth" th:field="*{dateOfBirth}" />

    <span>Sex :</span>
    <label for="M">M</label>
    <input type="radio" id="M" value="M" th:field="*{sex}"/>

    <label for="F">F</label>
    <input type="radio" id="F" value="F" th:field="*{sex}"/>

    <label for="homeAddress">HomeAddress</label>
    <input type="text" id="homeAddress" th:field="*{homeAddress}" />

    <label for="phoneNumber">PhoneNumber</label>
    <input type="text" id="phoneNumber" th:field="*{phoneNumber}"/>

    <button type="submit">Submit</button>
    <a th:href="@{/patient}">Cancel</a>
</form>
</body>
</html>