<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NoteListByPatientId</title>
</head>
<body>
<p>NoteListByPatientId page | <a th:href="@{/note/add/{id}(id=${patient.getId()})}">Add New Note By Patient Id</a> | <a th:href="@{/}">Home</a></p>
<div>
<table>
    <tbody>
    <tr>
        <td th:text="${patient.getId()}">Id</td>
        <td th:text="${patient.getLastName()}">LastName</td>
        <td th:text="${patient.getFirstName()}">FirstName</td>
        <td th:text="${patient.getDateOfBirth()}">DateOfBirth</td>
        <td th:text="${patient.getSex()}">Sex</td>
        <td th:text="${patient.getHomeAddress()}">HomeAddress</td>
        <td th:text="${patient.getPhoneNumber()}">PhoneNumber</td>
        <td th:text="${riskLevel}">RiskLevel</td>
    </tr>
    </tbody>
</table>
</div>
<div>
<table>
    <tbody>
    <tr th:each="note : ${noteListByPatientId}">
        <td th:text="${note.getId()}">Id</td>
        <td th:text="${note.getPatientId()}">PatientId</td>
        <td th:text="${#strings.abbreviate(note.getNoteOfThePractitioner(),100)}">NoteOfThePractitioner</td>
        <td><a th:href="@{/note/read/{id}(id=${note.getId})}">Read</a></td>
        <td><a th:href="@{/note/update/{id}(id=${note.getId})}">Update</a></td>
        <td><a th:href="@{/note/delete/{id}(id=${note.getId})}">Delete</a></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>